# Игнорировать все txt файлы
*.txt

# Игнорировать все md файлы кроме README.md
*.md
!README.md

# Игнорировать всю папку lab3-4
lab3-4/

# Игнорировать другие файлы
*.puml
*.png
*.pdf
*.html
*.xml
*.json
*.yaml
*.yml
*.properties
*.log
*.csv
*.dot
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

